<div
  class="d-flex justify-content-center align-items-center mt-2"
  style="height: 100vh"
>
  <div class="w-100" style="max-width: 1000px; height: 100vh">
    <!-- Nội dung của div ở đây -->
    <div class="borderSlider" style="margin-top: 100px">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="https://i.pinimg.com/736x/08/44/0d/08440d21461d32fbc4ef35d3a3b72e07.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://i.pinimg.com/564x/f8/6a/6a/f86a6a5a6f228880a551be170015bdc1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://i.pinimg.com/564x/a7/12/26/a71226db2f71c275918eee9f4991303e.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Most Popular -->
      <div class="content mt-5 w-100 h-100">
        <h3>Most Popular Right Now</h3>
        <div
          class="w-100 flex-wrap d-flex justify-content-around"
          style="padding-bottom: 40px; position: relative"
        >
          <div
            class="w-25 item-content my-2"
            *ngFor="let most of mostResult"
            style="margin-right: 5px"
            [routerLink]="['detail', most.id]"
          >
            <div class="cardImg">
              <img src="{{ most.background_image }}" class="img-content" />
            </div>

            <div>
              <div
                class="d-flex justify-content-between"
                style="align-items: center"
              >
                <p style="font-size: 18px; font-weight: 500">{{ most.name }}</p>
                <div class="d-flex align-items-center">
                  <p class="fa-solid fa-star" style="color: yellow"></p>
                  <p>{{ most.rating }}</p>
                </div>
              </div>

              <div
                class="d-flex justify-content-between"
                style="align-items: center"
              >
                <p style="font-size: 16px; font-weight: 500">
                  {{ most.released }}
                </p>
                <div class="d-flex align-items-center">
                  <p class="fa-solid fa-download" style="color: red"></p>
                  <p>{{ most.added_by_status.yet }}m</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btnForm">
          <button class="click-btn" (click)="redirectToViewMore()"> 
            Xem thêm
          </button>
        </div>
      </div>

      <!-- Your Gaming Library -->
      <div class="content mt-5 w-100 h-100">
        <h3>Your Gaming Library</h3>
        <div
          class="d-flex flex-nowrap justify-content-around align-items-center p-3"
          style="border-bottom: 1px solid #27292a"
          *ngFor="let library of mostResult"
        >
          <img class="libraryImg" src="{{ library.background_image }}" alt="" />
          <div class="libraryInfo">
            <h4>{{ library.name }}</h4>
            <p class="colorData">{{ library.platforms[0].platform.name }}</p>
          </div>

          <div>
            <h4>Date Added</h4>
            <p class="colorData">{{ library.released }}</p>
          </div>

          <div>
            <h4>Hours Played</h4>
            <p class="colorData">{{ library.playtime * 2 }}h</p>
          </div>

          <div>
            <h4>Currently</h4>
            <p class="colorData">Download</p>
          </div>

          <div>
            <button class="btnDown">Download</button>
          </div>
        </div>

        <div class="btnForm">
          <button class="click-btn" routerLink="profile">
            View Your Library
          </button>
        </div>
      </div>
    </div>

    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
